h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 38, 38);
}

h3 {
    color: rgb(208, 0, 25);
    align-self: flex-start;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 0px;
    font-weight: bold;
}

.senate {
    display: flex;
    flex-direction: row;
}

.senate p {
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 18px;
}

.senate h3 {
    margin-left: 18px;
}

.police {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.police p {
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 18px;
}

.police h3 {
    margin-left: 18px;
}

.big_container {
    display: flex;
    flex-direction: row;
}

.side_container {
    margin-left: 0px;
}

.main_container p {
    margin-top: 20px;
}

.main_container p {
    font-size: 150%;
}

.vl {
    border-left: 1px solid rgb(235, 235, 235);
    height: 400px;
    margin-left: 28px;
    margin-right: 28px;
}

hr {
    color: rgb(235, 235, 235);
    height: 3px;;
}

.red_line {
    border-left: 130px solid rgb(221, 18, 18);
    height: 9px;
}

span {
    border-left: 130px solid rgb(89, 18, 221);
    height: 9px;
}