.container {
    width: 35%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container2 {
    width: 35%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }

  body {
    font-family:'Times New Roman', Times, serif;
  }