h1 {
	color: navy;
	background-color: red;
}

h2 {
	color: red;
}

li {
	color: brown;
}

p {
	font-size: medium;
	color: royalblue;
}

.special {
	border: 5px solid black;
}

.box {
	padding: 10px;
	width: calc(90% - 30px);
	background-color: rebeccapurple;
	color: white;
}

body {
	background-color: pink;
}

@media (min-width: 80em) {
	body {
		background-color: blue;
		font-size: 130%;
	}
}