.container {
    border: 1px solid rgb(221, 18, 18);
    width: 590px;
    height: 590px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}